<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
  <link href="/css/main.css" rel="stylesheet">
  {% endblock %}
</head>
<body>
  <h1>
  {% trans from "messages" %}
  messages.goodmorning
  {% endtrans %}
</h1>
  <br>
  <br>
  {% for country,code in countries %}
  <a href="//{{country}}.symfony4.challenge"><button>{{country|upper}} ({{code}})</button></a>
  {% endfor %}
  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
</body>
</html>
